<nav class="ui blue inverted menu">
    <header class="header item"><a href="/"> Discover Waterford </a></header>
    <div class="right menu">
        <a id="home"   class= "item" href="/home"> POI Entry</a>
        <a id="results" class= "item" href="/results"> List POI's</a>
        <a id="settings" class= "item" href="/settings"> Settings</a>
        <a id="logout" class= "item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>