<section class="ui raised segment">
    <div class="ui grid ">
        <div class="ui form eight wide column">
            <div class="ui stacked segment">
                <form action="/poi" method="POST">
                    <div class="ui dropdown" name="attractionType">
                        <input type="hidden" name="attractionType">
                        <div class="text">Select Attraction</div>
                        <i class="ui dropdown icon"></i>
                        <div class="menu">
                            <div class="item">Historic</div>
                            <div class="item">Beach</div>
                            <div class="item">Woodlands</div>
                            <div class="item">Mountains</div>
                            <div class="item">Outdoor Activity</div>
                            <div class="item">Eating & Drinking</div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Attraction Name</label>
                        <input placeholder="Attraction Name" type="text" name="attractionName">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea rows="4" cols="50" name="comment">Enter Description...</textarea>
                    </div>

                    <div class="field">
                        <label>Latitude</label>
                        <input placeholder="0.000000" type="number" step="0.000001" name="latitude">
                    </div>
                    <div class="field">
                        <label>Longitude</label>
                        <input placeholder="0.000000" type="number" step="0.000001" name="longitude">
                    </div>

                    <button class="ui blue submit button">Submit</button>
                </form>
            </div>
        </div>
        <aside class="six wide column">
            <img src="#" class="ui medium image">
        </aside>
    </div>
</section>