<nav class="ui blue inverted menu">
    <header class="header item"> <a href="/"> Discover Waterford </a> </header>
    <div class="right menu">
        <a class="item" href="/signup"> Signup</a>
        <a class="item" href="/login">  Login</a>
    </div>
</nav>